.switch {
  margin-top: var(--space-s);
  position: relative;
  display: inline-block;
  width: 54px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-lines);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  width: 20px;
  height: 20px;
  position: absolute;
  content: '';
  left: 3px;
  bottom: 3px;
  background-color: var(--on-primary);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--secondary);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--secondary);
}

input:checked + .slider::before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

.slider.round {
  border-radius: 26px;
}

.slider.round::before {
  border-radius: 50%;
}
