.box {
  background: var(--primary);
  color: var(--on-primary);
  padding: var(--space-s) var(--space-m);
  border-radius: var(--radius-l);
  box-shadow: 1px 1px 6px var(--primary-variant);
}

.box-label {
  font-size: var(--font-h3);
  margin: var(--space-s) 0;
}

.box-main {
  margin: var(--space-s) var(--space-xs);
}
